@page
@model Web.Pages.Categories.CreateModel
@{
    ViewData["Title"] = "Create a new Category";
}

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="text-info">Create a new Category</div>

            <form method="post">
                <div class="mb-3">
                    <label asp-for="Category.Name" class="form-label"></label>
                    <input asp-for="Category.Name" class="form-control"  placeholder="Insert name"/>
                    <span asp-validation-for="Category.Name" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Category.CreationDate" class="form-label"></label>
                    <input asp-for="Category.CreationDate" class="form-control"/>
                    <span asp-validation-for="Category.CreationDate" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">New</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <a asp-page="Index" class="btn btn-success">Return</a>
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}